services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      # POSTGRES_DB: clipfusion
      # POSTGRES_USER: lizy
      # POSTGRES_PASSWORD: Lzy142857
      DATABASE_URL: postgresql+asyncpg://lizy:Lzy142857@db:5432/clipfusion
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U lizy -d clipfusion"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    env_file:
      - backend/.env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  worker:
    build:
      context: backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    command: celery -A app.workers.tasks.celery_app worker --loglevel=info
    env_file:
      - backend/.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      backend:
        condition: service_started
    restart: unless-stopped

volumes:
  db_data:
